.DateContainer {
  color: white;
  font-size: 25px;
  text-align: justify;
  padding-left: 20px;
  /* text-align: /; */
  padding-top: 40px;
  /* margin-top: 10vh; */
}

/* @media form  */

/* @media (max-width: 668px) {
  .DateContainer {
    margin-top: 35vh;
  }
}

@media (min-width: 668px) and (max-width: 900px) {
  .DateContainer {
    margin-top: 25vh;
  }
} */
